Repository zedjarvis/rough-notation-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -write

.lintstagedrc:

{
    "*.{js,ts,jsx,tsx,vue}" : ["eslint --fix"],
    "*.{json,md}": ["prettier -write"]
}

chore: :wrench: delete lint-staged config
  .lintstagedrc
Due: none

chore: :wrench: update pre-commit hook
  .husky/pre-commit
Due: none

chore: :heavy_plus_sign: update deps
  pnpm-lock.yaml
Due: none

chore: :wrench: update package configs
  package.json
Due: prettier -write

fix: :pencil2: fix typo
  package.json
Due: prettier -write

chore: :wrench: update pre-commit
  .husky/pre-commit
Due: none

chore: :wrench: add lint-staged config
  .lintstagedrc
Due: none

chore: :fire: move lint-staged cmds to lint-staged config file
  package.json
Due: prettier -write

chore: :wrench: add workspace declaration file
  pnpm-workspace.yaml
Due: none

feat: :tada: add example project
  example/.eslintrc.cjs
  example/.gitignore
  example/.prettierrc.json
  example/.vscode/extensions.json
  example/README.md
  example/env.d.ts
  example/index.html
  example/package.json
  example/public/favicon.ico
  example/src/App.vue
  example/src/assets/base.css
  example/src/assets/logo.svg
  example/src/assets/main.css
  example/src/components/HelloWorld.vue
  example/src/components/TheWelcome.vue
  example/src/components/WelcomeItem.vue
  example/src/components/__tests__/HelloWorld.spec.ts
  example/src/components/icons/IconCommunity.vue
  example/src/components/icons/IconDocumentation.vue
  example/src/components/icons/IconEcosystem.vue
  example/src/components/icons/IconSupport.vue
  example/src/components/icons/IconTooling.vue
  example/src/main.ts
  example/tsconfig.app.json
  example/tsconfig.json
  example/tsconfig.node.json
  example/tsconfig.vitest.json
  example/vite.config.ts
  example/vitest.config.ts
Due: eslint --fix, prettier -write

docs: :memo: add vitepress documentation
  docs/.vitepress/cache/deps/@theme_index.js
  docs/.vitepress/cache/deps/@theme_index.js.map
  docs/.vitepress/cache/deps/_metadata.json
  docs/.vitepress/cache/deps/chunk-BQPH45T3.js
  docs/.vitepress/cache/deps/chunk-BQPH45T3.js.map
  docs/.vitepress/cache/deps/chunk-Q5BS67JP.js
  docs/.vitepress/cache/deps/chunk-Q5BS67JP.js.map
  docs/.vitepress/cache/deps/package.json
  docs/.vitepress/cache/deps/vitepress___@vue_devtools-api.js
  docs/.vitepress/cache/deps/vitepress___@vue_devtools-api.js.map
  docs/.vitepress/cache/deps/vitepress___@vueuse_core.js
  docs/.vitepress/cache/deps/vitepress___@vueuse_core.js.map
  docs/.vitepress/cache/deps/vue.js
  docs/.vitepress/cache/deps/vue.js.map
  docs/.vitepress/config.ts
  docs/api-examples.md
  docs/index.md
  docs/markdown-examples.md
Due: eslint --fix, prettier -write

chore: :wrench: remove docs folder as a workspace
  pnpm-workspace.yaml
Due: none

chore: :heavy_plus_sign: add vitepress
  package.json
  pnpm-lock.yaml
Due: prettier -write

Update README.md
  README.md
Due: prettier -write
